<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>0EFCFE59-F23A-4210-A5A1-DE9F39E2245D</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Aogonek</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Ccaron</string>
		<string>Cdotaccent</string>
		<string>Ccedilla</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Ecaron</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>Hcircumflex</string>
		<string>Hbar</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Itilde</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>Idotaccent</string>
		<string>Iogonek</string>
		<string>Jcircumflex</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>Ldot</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Ncommaaccent</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>OE</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tbar</string>
		<string>Thorn</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Utilde</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>aogonek</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>ccedilla</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>eth</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>ecaron</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>hcircumflex</string>
		<string>hbar</string>
		<string>dotlessi</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>itilde</string>
		<string>idieresis</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>ldot</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>ncommaaccent</string>
		<string>napostrophe</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>oe</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tbar</string>
		<string>thorn</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>utilde</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>IJ</string>
		<string>ij</string>
		<string>fi</string>
		<string>fl</string>
		<string>acute</string>
		<string>tilde</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>breve</string>
		<string>ring</string>
		<string>hungarumlaut</string>
		<string>dotaccent</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>commaaccent</string>
		<string>ellipsis</string>
		<string>softhyphen</string>
		<string>exclamdown</string>
		<string>questiondown</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>endash</string>
		<string>emdash</string>
		<string>bullet</string>
		<string>periodcentered</string>
		<string>uni2219</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>section</string>
		<string>paragraph</string>
		<string>brokenbar</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>currency</string>
		<string>Euro</string>
		<string>cent</string>
		<string>sterling</string>
		<string>florin</string>
		<string>yen</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>fraction</string>
		<string>uni2215</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>onequarter</string>
		<string>oneeighth</string>
		<string>twothirds</string>
		<string>threequarters</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>perthousand</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>logicalnot</string>
		<string>Delta</string>
		<string>mu</string>
		<string>pi</string>
		<string>degree</string>
		<string>uni2113</string>
		<string>estimated</string>
		<string>eng</string>
		<string>Eng</string>
		<string>infinity</string>
		<string>partialdiff</string>
		<string>integral</string>
		<string>radical</string>
		<string>summation</string>
		<string>product</string>
		<string>lozenge</string>
		<string>uniF8FF</string>
		<string>zero.inferior</string>
		<string>one.inferior</string>
		<string>two.inferior</string>
		<string>three.inferior</string>
		<string>four.inferior</string>
		<string>five.inferior</string>
		<string>six.inferior</string>
		<string>seven.inferior</string>
		<string>eight.inferior</string>
		<string>nine.inferior</string>
		<string>zero.superior</string>
		<string>four.superior</string>
		<string>five.superior</string>
		<string>six.superior</string>
		<string>seven.superior</string>
		<string>eight.superior</string>
		<string>nine.superior</string>
		<string>lira</string>
		<string>peseta</string>
		<string>colonmonetary</string>
		<string>figuredash</string>
		<string>uni018F</string>
		<string>Ohorn</string>
		<string>ohorn</string>
		<string>Uhorn</string>
		<string>uhorn</string>
		<string>Acaron</string>
		<string>acaron</string>
		<string>Icaron</string>
		<string>icaron</string>
		<string>Ocaron</string>
		<string>ocaron</string>
		<string>Ucaron</string>
		<string>ucaron</string>
		<string>Udieresismacron</string>
		<string>udieresismacron</string>
		<string>Udieresisacute</string>
		<string>udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>udieresisgrave</string>
		<string>Gcaron</string>
		<string>gcaron</string>
		<string>ascript</string>
		<string>schwa</string>
		<string>gscript</string>
		<string>uni02BB</string>
		<string>uni02BC</string>
		<string>uni02BE</string>
		<string>uni02BF</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>uni02C8</string>
		<string>uni02C9</string>
		<string>uni02CA</string>
		<string>uni02CB</string>
		<string>uni02CC</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni0302</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni0306</string>
		<string>uni0307</string>
		<string>uni0308</string>
		<string>hookabovecomb</string>
		<string>uni030A</string>
		<string>uni030B</string>
		<string>uni030C</string>
		<string>uni031B</string>
		<string>dotbelowcomb</string>
		<string>uni0324</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni032E</string>
		<string>uni0331</string>
		<string>koKai-thai</string>
		<string>khoKhai-thai</string>
		<string>khoKhuat-thai</string>
		<string>khoKhwai-thai</string>
		<string>khoKhon-thai</string>
		<string>khoRakhang-thai</string>
		<string>ngoNgu-thai</string>
		<string>choChan-thai</string>
		<string>choChing-thai</string>
		<string>choChang-thai</string>
		<string>soSo-thai</string>
		<string>choChoe-thai</string>
		<string>yoYing-thai</string>
		<string>doChada-thai</string>
		<string>toPatak-thai</string>
		<string>thoThan-thai</string>
		<string>thoNangmontho-thai</string>
		<string>thoPhuthao-thai</string>
		<string>noNen-thai</string>
		<string>doDek-thai</string>
		<string>toTao-thai</string>
		<string>thoThung-thai</string>
		<string>thoThahan-thai</string>
		<string>thoThong-thai</string>
		<string>noNu-thai</string>
		<string>boBaimai-thai</string>
		<string>poPla-thai</string>
		<string>phoPhung-thai</string>
		<string>foFa-thai</string>
		<string>phoPhan-thai</string>
		<string>foFan-thai</string>
		<string>phoSamphao-thai</string>
		<string>moMa-thai</string>
		<string>yoYak-thai</string>
		<string>roRua-thai</string>
		<string>ru-thai</string>
		<string>loLing-thai</string>
		<string>lu-thai</string>
		<string>woWaen-thai</string>
		<string>soSala-thai</string>
		<string>soRusi-thai</string>
		<string>soSua-thai</string>
		<string>hoHip-thai</string>
		<string>loChula-thai</string>
		<string>oAng-thai</string>
		<string>hoNokhuk-thai</string>
		<string>paiyannoi-thai</string>
		<string>saraA-thai</string>
		<string>maiHanaKat-thai</string>
		<string>saraAa-thai</string>
		<string>saraAm-thai</string>
		<string>saraI-thai</string>
		<string>saraIi-thai</string>
		<string>saraUe-thai</string>
		<string>saraUee-thai</string>
		<string>saraU-thai</string>
		<string>saraUu-thai</string>
		<string>phinthu-thai</string>
		<string>baht</string>
		<string>saraE-thai</string>
		<string>saraAe-thai</string>
		<string>saraO-thai</string>
		<string>saraAiMaimuan-thai</string>
		<string>saraAiMaimalai-thai</string>
		<string>lakkhangyao-thai</string>
		<string>maiyamok-thai</string>
		<string>maitaikhu-thai</string>
		<string>maiEk-thai</string>
		<string>maiTho-thai</string>
		<string>maiTri-thai</string>
		<string>maiChattawa-thai</string>
		<string>thanthakhat-thai</string>
		<string>nikhahit-thai</string>
		<string>yamakkan-thai</string>
		<string>fongman-thai</string>
		<string>zero-thai</string>
		<string>one-thai</string>
		<string>two-thai</string>
		<string>three-thai</string>
		<string>four-thai</string>
		<string>five-thai</string>
		<string>six-thai</string>
		<string>seven-thai</string>
		<string>eight-thai</string>
		<string>nine-thai</string>
		<string>angkhankhu-thai</string>
		<string>khomut-thai</string>
		<string>thoThan-thai.less</string>
		<string>saraI-thai.narrow</string>
		<string>saraIi-thai.narrow</string>
		<string>saraUe-thai.narrow</string>
		<string>saraUee-thai.narrow</string>
		<string>maiEk-thai.narrow</string>
		<string>maiTho-thai.narrow</string>
		<string>maiTri-thai.narrow</string>
		<string>maiChattawa-thai.narrow</string>
		<string>thanthakhat-thai.narrow</string>
		<string>maiEk-thai.small</string>
		<string>maiTho-thai.small</string>
		<string>maiTri-thai.small</string>
		<string>maiChattawa-thai.small</string>
		<string>thanthakhat-thai.small</string>
		<string>yoYing-thai.less</string>
		<string>maiHanaKat-thai.narrow</string>
		<string>nikhahit-thai.narrow</string>
		<string>maitaikhu-thai.narrow</string>
		<string>doChada-thai.short</string>
		<string>toPatak-thai.short</string>
		<string>ru_lakkhangyao-thai</string>
		<string>lu_lakkhangyao-thai</string>
		<string>loChula-thai.short</string>
		<string>ru-thai.short</string>
		<string>lu-thai.short</string>
		<string>saraU-thai.small</string>
		<string>saraUu-thai.small</string>
		<string>phinthu-thai.small</string>
		<string>Ddotbelow</string>
		<string>ddotbelow</string>
		<string>Dlinebelow</string>
		<string>dlinebelow</string>
		<string>Gmacron</string>
		<string>gmacron</string>
		<string>Hdotbelow</string>
		<string>hdotbelow</string>
		<string>Hbrevebelow</string>
		<string>hbrevebelow</string>
		<string>Ldotbelow</string>
		<string>ldotbelow</string>
		<string>Ldotbelowmacron</string>
		<string>ldotbelowmacron</string>
		<string>Llinebelow</string>
		<string>llinebelow</string>
		<string>Mdotbelow</string>
		<string>mdotbelow</string>
		<string>Ndotaccent</string>
		<string>ndotaccent</string>
		<string>Ndotbelow</string>
		<string>ndotbelow</string>
		<string>Nlinebelow</string>
		<string>nlinebelow</string>
		<string>Sdotaccent</string>
		<string>sdotaccent</string>
		<string>Sdotbelow</string>
		<string>sdotbelow</string>
		<string>Tdotbelow</string>
		<string>tdotbelow</string>
		<string>Tlinebelow</string>
		<string>tlinebelow</string>
		<string>Ydotaccent</string>
		<string>ydotaccent</string>
		<string>Zdotbelow</string>
		<string>zdotbelow</string>
		<string>uni1E97</string>
		<string>uni1E9E</string>
		<string>Adotbelow</string>
		<string>adotbelow</string>
		<string>Ahookabove</string>
		<string>ahookabove</string>
		<string>Acircumflexacute</string>
		<string>acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>acircumflextilde</string>
		<string>Acircumflexdotbelow</string>
		<string>acircumflexdotbelow</string>
		<string>Abreveacute</string>
		<string>abreveacute</string>
		<string>Abrevegrave</string>
		<string>abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>abrevetilde</string>
		<string>Abrevedotbelow</string>
		<string>abrevedotbelow</string>
		<string>Edotbelow</string>
		<string>edotbelow</string>
		<string>Ehookabove</string>
		<string>ehookabove</string>
		<string>Etilde</string>
		<string>etilde</string>
		<string>Ecircumflexacute</string>
		<string>ecircumflexacute</string>
		<string>Ecircumflexgrave</string>
		<string>ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>ecircumflextilde</string>
		<string>Ecircumflexdotbelow</string>
		<string>ecircumflexdotbelow</string>
		<string>Ihookabove</string>
		<string>ihookabove</string>
		<string>Idotbelow</string>
		<string>idotbelow</string>
		<string>Odotbelow</string>
		<string>odotbelow</string>
		<string>Ohookabove</string>
		<string>ohookabove</string>
		<string>Ocircumflexacute</string>
		<string>ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>ocircumflextilde</string>
		<string>Ocircumflexdotbelow</string>
		<string>ocircumflexdotbelow</string>
		<string>Ohornacute</string>
		<string>ohornacute</string>
		<string>Ohorngrave</string>
		<string>ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>ohorntilde</string>
		<string>Ohorndotbelow</string>
		<string>ohorndotbelow</string>
		<string>Udotbelow</string>
		<string>udotbelow</string>
		<string>Uhookabove</string>
		<string>uhookabove</string>
		<string>Uhornacute</string>
		<string>uhornacute</string>
		<string>Uhorngrave</string>
		<string>uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>uhorntilde</string>
		<string>Uhorndotbelow</string>
		<string>uhorndotbelow</string>
		<string>Ydotbelow</string>
		<string>ydotbelow</string>
		<string>Yhookabove</string>
		<string>yhookabove</string>
		<string>Ytilde</string>
		<string>ytilde</string>
		<string>uni2010</string>
		<string>uni2015</string>
		<string>minute</string>
		<string>second</string>
		<string>uni207D</string>
		<string>uni207E</string>
		<string>uni207F</string>
		<string>uni208D</string>
		<string>uni208E</string>
		<string>uni20A6</string>
		<string>dong</string>
		<string>uni20B1</string>
		<string>uni20B2</string>
		<string>uni20B5</string>
		<string>uni20B9</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>uni2120</string>
		<string>Omega</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>filledbox</string>
		<string>triagup</string>
		<string>uni25B3</string>
		<string>uni25B6</string>
		<string>uni25B7</string>
		<string>triagdn</string>
		<string>uni25BD</string>
		<string>uni25C0</string>
		<string>uni25C1</string>
		<string>uni25C6</string>
		<string>circumflexacute</string>
		<string>circumflexgrave</string>
		<string>circumflexhookabove</string>
		<string>circumflextilde</string>
		<string>breveacute</string>
		<string>brevegrave</string>
		<string>brevehookabove</string>
		<string>brevetilde</string>
		<string>dieresisacute</string>
		<string>dieresisgrave</string>
		<string>dieresiscaron</string>
		<string>Rdotbelow</string>
		<string>rdotbelow</string>
		<string>Rdotbelowmacron</string>
		<string>rdotbelowmacron</string>
		<string>Rlinebelow</string>
		<string>rlinebelow</string>
		<string>uni2007</string>
		<string>uni2117</string>
		<string>f_j</string>
		<string>f_f_j</string>
		<string>T_h</string>
		<string>Tcaron_h</string>
		<string>Tcommaaccent_h</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.weightValue</key>
	<real>400</real>
	<key>com.schriftgestaltung.widthValue</key>
	<real>5</real>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Aogonek</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Ccaron</string>
		<string>Cdotaccent</string>
		<string>Ccedilla</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Ecaron</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>Hcircumflex</string>
		<string>Hbar</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Itilde</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>Idotaccent</string>
		<string>Iogonek</string>
		<string>Jcircumflex</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>Ldot</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Ncommaaccent</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>OE</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tbar</string>
		<string>Thorn</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Utilde</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>aogonek</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>ccedilla</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>eth</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>ecaron</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>hcircumflex</string>
		<string>hbar</string>
		<string>dotlessi</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>itilde</string>
		<string>idieresis</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>dotlessj</string>
		<string>jcircumflex</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>ldot</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>ncommaaccent</string>
		<string>napostrophe</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>oe</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tbar</string>
		<string>thorn</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>utilde</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>IJ</string>
		<string>ij</string>
		<string>fi</string>
		<string>fl</string>
		<string>acute</string>
		<string>tilde</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>breve</string>
		<string>ring</string>
		<string>hungarumlaut</string>
		<string>dotaccent</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>commaaccent</string>
		<string>ellipsis</string>
		<string>softhyphen</string>
		<string>exclamdown</string>
		<string>questiondown</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>endash</string>
		<string>emdash</string>
		<string>bullet</string>
		<string>periodcentered</string>
		<string>uni2219</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>section</string>
		<string>paragraph</string>
		<string>brokenbar</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>currency</string>
		<string>Euro</string>
		<string>cent</string>
		<string>sterling</string>
		<string>florin</string>
		<string>yen</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>fraction</string>
		<string>uni2215</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>onequarter</string>
		<string>oneeighth</string>
		<string>twothirds</string>
		<string>threequarters</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>perthousand</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>logicalnot</string>
		<string>Delta</string>
		<string>mu</string>
		<string>pi</string>
		<string>degree</string>
		<string>uni2113</string>
		<string>estimated</string>
		<string>eng</string>
		<string>Eng</string>
		<string>infinity</string>
		<string>partialdiff</string>
		<string>integral</string>
		<string>radical</string>
		<string>summation</string>
		<string>product</string>
		<string>lozenge</string>
		<string>uniF8FF</string>
		<string>zero.inferior</string>
		<string>one.inferior</string>
		<string>two.inferior</string>
		<string>three.inferior</string>
		<string>four.inferior</string>
		<string>five.inferior</string>
		<string>six.inferior</string>
		<string>seven.inferior</string>
		<string>eight.inferior</string>
		<string>nine.inferior</string>
		<string>zero.superior</string>
		<string>four.superior</string>
		<string>five.superior</string>
		<string>six.superior</string>
		<string>seven.superior</string>
		<string>eight.superior</string>
		<string>nine.superior</string>
		<string>lira</string>
		<string>peseta</string>
		<string>colonmonetary</string>
		<string>figuredash</string>
		<string>uni018F</string>
		<string>Ohorn</string>
		<string>ohorn</string>
		<string>Uhorn</string>
		<string>uhorn</string>
		<string>Acaron</string>
		<string>acaron</string>
		<string>Icaron</string>
		<string>icaron</string>
		<string>Ocaron</string>
		<string>ocaron</string>
		<string>Ucaron</string>
		<string>ucaron</string>
		<string>Udieresismacron</string>
		<string>udieresismacron</string>
		<string>Udieresisacute</string>
		<string>udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>udieresisgrave</string>
		<string>Gcaron</string>
		<string>gcaron</string>
		<string>ascript</string>
		<string>schwa</string>
		<string>gscript</string>
		<string>uni02BB</string>
		<string>uni02BC</string>
		<string>uni02BE</string>
		<string>uni02BF</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>uni02C8</string>
		<string>uni02C9</string>
		<string>uni02CA</string>
		<string>uni02CB</string>
		<string>uni02CC</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni0302</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni0306</string>
		<string>uni0307</string>
		<string>uni0308</string>
		<string>hookabovecomb</string>
		<string>uni030A</string>
		<string>uni030B</string>
		<string>uni030C</string>
		<string>uni031B</string>
		<string>dotbelowcomb</string>
		<string>uni0324</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni032E</string>
		<string>uni0331</string>
		<string>koKai-thai</string>
		<string>khoKhai-thai</string>
		<string>khoKhuat-thai</string>
		<string>khoKhwai-thai</string>
		<string>khoKhon-thai</string>
		<string>khoRakhang-thai</string>
		<string>ngoNgu-thai</string>
		<string>choChan-thai</string>
		<string>choChing-thai</string>
		<string>choChang-thai</string>
		<string>soSo-thai</string>
		<string>choChoe-thai</string>
		<string>yoYing-thai</string>
		<string>doChada-thai</string>
		<string>toPatak-thai</string>
		<string>thoThan-thai</string>
		<string>thoNangmontho-thai</string>
		<string>thoPhuthao-thai</string>
		<string>noNen-thai</string>
		<string>doDek-thai</string>
		<string>toTao-thai</string>
		<string>thoThung-thai</string>
		<string>thoThahan-thai</string>
		<string>thoThong-thai</string>
		<string>noNu-thai</string>
		<string>boBaimai-thai</string>
		<string>poPla-thai</string>
		<string>phoPhung-thai</string>
		<string>foFa-thai</string>
		<string>phoPhan-thai</string>
		<string>foFan-thai</string>
		<string>phoSamphao-thai</string>
		<string>moMa-thai</string>
		<string>yoYak-thai</string>
		<string>roRua-thai</string>
		<string>ru-thai</string>
		<string>loLing-thai</string>
		<string>lu-thai</string>
		<string>woWaen-thai</string>
		<string>soSala-thai</string>
		<string>soRusi-thai</string>
		<string>soSua-thai</string>
		<string>hoHip-thai</string>
		<string>loChula-thai</string>
		<string>oAng-thai</string>
		<string>hoNokhuk-thai</string>
		<string>paiyannoi-thai</string>
		<string>saraA-thai</string>
		<string>maiHanaKat-thai</string>
		<string>saraAa-thai</string>
		<string>saraAm-thai</string>
		<string>saraI-thai</string>
		<string>saraIi-thai</string>
		<string>saraUe-thai</string>
		<string>saraUee-thai</string>
		<string>saraU-thai</string>
		<string>saraUu-thai</string>
		<string>phinthu-thai</string>
		<string>baht</string>
		<string>saraE-thai</string>
		<string>saraAe-thai</string>
		<string>saraO-thai</string>
		<string>saraAiMaimuan-thai</string>
		<string>saraAiMaimalai-thai</string>
		<string>lakkhangyao-thai</string>
		<string>maiyamok-thai</string>
		<string>maitaikhu-thai</string>
		<string>maiEk-thai</string>
		<string>maiTho-thai</string>
		<string>maiTri-thai</string>
		<string>maiChattawa-thai</string>
		<string>thanthakhat-thai</string>
		<string>nikhahit-thai</string>
		<string>yamakkan-thai</string>
		<string>fongman-thai</string>
		<string>zero-thai</string>
		<string>one-thai</string>
		<string>two-thai</string>
		<string>three-thai</string>
		<string>four-thai</string>
		<string>five-thai</string>
		<string>six-thai</string>
		<string>seven-thai</string>
		<string>eight-thai</string>
		<string>nine-thai</string>
		<string>angkhankhu-thai</string>
		<string>khomut-thai</string>
		<string>thoThan-thai.less</string>
		<string>saraI-thai.narrow</string>
		<string>saraIi-thai.narrow</string>
		<string>saraUe-thai.narrow</string>
		<string>saraUee-thai.narrow</string>
		<string>maiEk-thai.narrow</string>
		<string>maiTho-thai.narrow</string>
		<string>maiTri-thai.narrow</string>
		<string>maiChattawa-thai.narrow</string>
		<string>thanthakhat-thai.narrow</string>
		<string>maiEk-thai.small</string>
		<string>maiTho-thai.small</string>
		<string>maiTri-thai.small</string>
		<string>maiChattawa-thai.small</string>
		<string>thanthakhat-thai.small</string>
		<string>yoYing-thai.less</string>
		<string>maiHanaKat-thai.narrow</string>
		<string>maitaikhu-thai.narrow</string>
		<string>doChada-thai.short</string>
		<string>toPatak-thai.short</string>
		<string>ru_lakkhangyao-thai</string>
		<string>lu_lakkhangyao-thai</string>
		<string>loChula-thai.short</string>
		<string>ru-thai.short</string>
		<string>lu-thai.short</string>
		<string>saraU-thai.small</string>
		<string>saraUu-thai.small</string>
		<string>phinthu-thai.small</string>
		<string>Ddotbelow</string>
		<string>ddotbelow</string>
		<string>Dlinebelow</string>
		<string>dlinebelow</string>
		<string>Gmacron</string>
		<string>gmacron</string>
		<string>Hdotbelow</string>
		<string>hdotbelow</string>
		<string>Hbrevebelow</string>
		<string>hbrevebelow</string>
		<string>Ldotbelow</string>
		<string>ldotbelow</string>
		<string>Ldotbelowmacron</string>
		<string>ldotbelowmacron</string>
		<string>Llinebelow</string>
		<string>llinebelow</string>
		<string>Mdotbelow</string>
		<string>mdotbelow</string>
		<string>Ndotaccent</string>
		<string>ndotaccent</string>
		<string>Ndotbelow</string>
		<string>ndotbelow</string>
		<string>Nlinebelow</string>
		<string>nlinebelow</string>
		<string>Sdotaccent</string>
		<string>sdotaccent</string>
		<string>Sdotbelow</string>
		<string>sdotbelow</string>
		<string>Tdotbelow</string>
		<string>tdotbelow</string>
		<string>Tlinebelow</string>
		<string>tlinebelow</string>
		<string>Ydotaccent</string>
		<string>ydotaccent</string>
		<string>Zdotbelow</string>
		<string>zdotbelow</string>
		<string>uni1E97</string>
		<string>uni1E9E</string>
		<string>Adotbelow</string>
		<string>adotbelow</string>
		<string>Ahookabove</string>
		<string>ahookabove</string>
		<string>Acircumflexacute</string>
		<string>acircumflexacute</string>
		<string>Acircumflexgrave</string>
		<string>acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>acircumflextilde</string>
		<string>Acircumflexdotbelow</string>
		<string>acircumflexdotbelow</string>
		<string>Abreveacute</string>
		<string>abreveacute</string>
		<string>Abrevegrave</string>
		<string>abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>abrevetilde</string>
		<string>Abrevedotbelow</string>
		<string>abrevedotbelow</string>
		<string>Edotbelow</string>
		<string>edotbelow</string>
		<string>Ehookabove</string>
		<string>ehookabove</string>
		<string>Etilde</string>
		<string>etilde</string>
		<string>Ecircumflexacute</string>
		<string>ecircumflexacute</string>
		<string>Ecircumflexgrave</string>
		<string>ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>ecircumflextilde</string>
		<string>Ecircumflexdotbelow</string>
		<string>ecircumflexdotbelow</string>
		<string>Ihookabove</string>
		<string>ihookabove</string>
		<string>Idotbelow</string>
		<string>idotbelow</string>
		<string>Odotbelow</string>
		<string>odotbelow</string>
		<string>Ohookabove</string>
		<string>ohookabove</string>
		<string>Ocircumflexacute</string>
		<string>ocircumflexacute</string>
		<string>Ocircumflexgrave</string>
		<string>ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>ocircumflextilde</string>
		<string>Ocircumflexdotbelow</string>
		<string>ocircumflexdotbelow</string>
		<string>Ohornacute</string>
		<string>ohornacute</string>
		<string>Ohorngrave</string>
		<string>ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>ohorntilde</string>
		<string>Ohorndotbelow</string>
		<string>ohorndotbelow</string>
		<string>Udotbelow</string>
		<string>udotbelow</string>
		<string>Uhookabove</string>
		<string>uhookabove</string>
		<string>Uhornacute</string>
		<string>uhornacute</string>
		<string>Uhorngrave</string>
		<string>uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>uhorntilde</string>
		<string>Uhorndotbelow</string>
		<string>uhorndotbelow</string>
		<string>Ydotbelow</string>
		<string>ydotbelow</string>
		<string>Yhookabove</string>
		<string>yhookabove</string>
		<string>Ytilde</string>
		<string>ytilde</string>
		<string>uni2010</string>
		<string>uni2015</string>
		<string>minute</string>
		<string>second</string>
		<string>uni207D</string>
		<string>uni207E</string>
		<string>uni207F</string>
		<string>uni208D</string>
		<string>uni208E</string>
		<string>uni20A6</string>
		<string>dong</string>
		<string>uni20B1</string>
		<string>uni20B2</string>
		<string>uni20B5</string>
		<string>uni20B9</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>uni2120</string>
		<string>Omega</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>filledbox</string>
		<string>triagup</string>
		<string>uni25B3</string>
		<string>uni25B6</string>
		<string>uni25B7</string>
		<string>triagdn</string>
		<string>uni25BD</string>
		<string>uni25C0</string>
		<string>uni25C1</string>
		<string>uni25C6</string>
		<string>circumflexacute</string>
		<string>circumflexgrave</string>
		<string>circumflexhookabove</string>
		<string>circumflextilde</string>
		<string>breveacute</string>
		<string>brevegrave</string>
		<string>brevehookabove</string>
		<string>brevetilde</string>
		<string>dieresisacute</string>
		<string>dieresisgrave</string>
		<string>dieresiscaron</string>
		<string>Rdotbelow</string>
		<string>rdotbelow</string>
		<string>Rdotbelowmacron</string>
		<string>rdotbelowmacron</string>
		<string>Rlinebelow</string>
		<string>rlinebelow</string>
		<string>uni2007</string>
		<string>uni2117</string>
		<string>f_j</string>
		<string>f_f_j</string>
		<string>T_h</string>
		<string>Tcaron_h</string>
		<string>Tcommaaccent_h</string>
	</array>
</dict>
</plist>
